.container {
  width: 100%;
  padding: 0;
}

.fixed-top {
  position: fixed !important;
  top: 0;
}

#block-textsize-textsize, #block-pagestyle-form {
  display: none;
}

#header-blocks,
.not-front #header-blocks {
  background-image: none;
  margin-left: 0;
  width: 100%;
  height: auto;
  float: left;
  margin-bottom: 0;
  .block-search {
    right: 20px;
  }
}
#header {
  background: url("../../images/bg-top-small.png") repeat-x left top;
  .container {
    background: url("../../images/logo-top-medium.png") no-repeat 10px 0;
    padding-top: 48px;
  }
}
.region-header {
  float: left;
  width: 100%;
}
.logo-site-name {
  margin-bottom: 4px;
  margin-top: 6px;
  img {
    height: 40px;
  }
}
#site-slogan {
  margin-top: 5px;
}

#branding {
  margin-top: 0;
  margin-left: 10px;
  position: static;
  #logo a {
    width: auto;
    height: auto;
  }  
}

#block-superfish-1 {
  position: relative;
  height: auto;
  width: 100%;
  left: 0;
}
#block-superfish-1 .block-title {
  left: auto;
  right: 56px;
  top: -57px;
  width: 59px;
  height: 57px;
  text-indent: -9999em;
  cursor: pointer;
  background: url("../../images/btn-nav-press.png") no-repeat center center;
}
#block-superfish-1 .block-title.hide_menu {
  background: url("../../images/btn-nav-unpress.png") no-repeat center center;
}

.block-search .block-title {
  position: absolute;
  left: auto;
  right: -20px;
  top: 56px;
  width: 56px;
  height: 57px;
  text-indent: -9999em;
  cursor: pointer;
  background: url("../../images/btn-search-press.png") no-repeat center center;
}
.block-search .block-title.hide_search {
  background: url("../../images/btn-search-unpress.png") no-repeat center center;
}
#search-block-form {
  height: 0px;
  overflow: hidden;
  position: absolute;
  /*right: -20px;*/
  top: 114px;
  z-index: 500;
  background-color: #FFF;
  width: 200px;

  div.form-item {
    margin-bottom: 0;
    margin-top: 0;
  }
  
  .form-actions {
    display: none;
  }
  
  .compact-form-field {
    margin: 10px;
  }
  
  label {
    top: 12px;
    left: 15px;
  }
}



.front .main-menu a.active {
  background: url("../../images/bg-top-small.png") repeat-x left top;
}
ul.sf-menu {
  
  li {
    
    float: none;
    margin-right: 0;
    width: 100%;
    padding: 0;
    border-bottom: 1px solid #FFF;
    
    li {
      display: none;
    }
    a.sf-depth-1, a.sf-depth-1.menuparent {
      padding: 12px 18px;
      background: url("../../images/bg-top-small.png") repeat-x left top;
    }
    a.active {
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      text-decoration: underline;
    }

  }

}

.not-front li.sf-depth-1.menuparent {
  padding-right: 0;
}

.main-menu {
  margin-top: 0;
}
.main-menu > li.first {
  padding: 0;
}


#highlighted {
  margin-top: 0;
}

.block-feature-front {
  background-position: center top;
}

ul.loginpop {
  background: none;
  a { color: #55A0AA };
}
.block-loginpop{
   top: -42px;
   right: 12px;
}
.nav {
  top: 0;
  

}
.not-front a.sf-depth-1 {
  color: #000;
}
.block-textsize {
  margin-top: 0;
  position: absolute;
  top: -35px;
  right: 260px;
}
#block-pagestyle-form {
  margin-top: 0;
  position: absolute;
  top: -35px;
  right: 200px;
}



/* Content */

.front #main-content,#main-content {
  width: 100%;
}



